*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(khss.jpg);
    background-size: 1400px;
    background-position: top;
    font-family: sans-serif;
}
.width-100{
    width: 100%;
    float: left;
}
.container{
    width: 50%px
    margin: 0px auto;
}
.top-header{
    background: #2196f3
    padding: 5px 0px;
    border-bottom: 15px solid #3131315e;
}
.news-list{
    background: #fff;
    colour: red;
    padding: 6px;
    font-size: 25px;
}
.headquote {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    width: 80%
}
.menu-bar
{
    background: rgb(0,100,0);
    background-position: center;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: solid;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #d2ff00;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: 40px;
    margin-left: 140px;
    background-color: rgb(0,100,0);
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}

.margin-top-50
{
    margin-top: 140px;
}
.width-33 
{
    width: 50%;
    float: right;
}
.latest-news
{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 25px;
    margin-bottom: 350px;
}
.heading-sect
{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 1px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 1px solid #cfcfcf;
    background: #fff;
    color: #313131;
}
.head-tittle
{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 17, 255);
    padding-bottom: 0px;

}
.latest-updates-ul
{
    margin: 0px;
    padding: 0px;
    list-style: inside;
    line-height: 25px;
    color: black;
    padding-bottom: 0px;
}
.latest-updates-ul li
{
    border-bottom: 1px dotted red;
}
.latest-updates-ul li:last-child
{
border-bottom: none;
}

.footer{
    background: #232f3e;
    margin-top: 50px;
    padding: 50px 0px;
    columns: 3;
}
.quicklink-heading{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}
.quicklink-menu{
    list-style: none;
    padding-left: 10px;
}
.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}
.get-in-touch {
    list-style: none;
    padding-left: 10px;
}
.get-in-touch li { 
    padding: 0px;
    margin: 0px;
    color: white;
    height: 30px;
}
.get-in-touch li i {
    padding: 0px;
    margin: 0px;
    color: white;
    height: 2px;
}
.footer-emial{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.footer-website{
    font-size: 12px;
    font-weight: bold;
    columns: #fff;
    text-decoration: none;
}